<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.127.64" targetFramework="net40" />
  <package id="WebSharper.Google.Visualization" version="2.5.6.188" targetFramework="net40" />
  <package id="WebSharper.UI.Next" version="0.1.48.51" targetFramework="net40" />
</packages>